/* se le esta agregando estilos al body completo
para que todos los elementos se unan */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Se agrega un estilo a las letras*/
body {
    font-family: "open sans";
}

/*este biene siendo el contenedor principal, donde lo que  esta aqui afecta al main
pero no al footer*/
.contenedor {
    padding: 60px 0;
    width: 1101px;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    margin-top: 8%;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 5%;
}

/*zona del Header (cabecera)*/


.punto2 {
    width: 100%;
    height: 600px;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f807579c, #f1edf098), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f807579c, #f1eff198), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
}

/*estos Estilo se aplicaran solo en la parte del (nav) donde estan: inicio, acerca de etc*/
nav{
text-align: right;
padding: 30px 50px 0 0;
}

/*llamo al hijo directo de la etiqueta (nav) que es la (a) y les agregare los estilos*/
nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;

}

nav > a:hover{
    text-decoration: underline;
}

/*este en la parte de la hola */
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
/*Todo:*/
/* Estilos al contenedor de las letras que estan dentro de header*/
.punto2 .textos-header{
    display: flex;
    height:430px ;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/*se le esta aplicando Estilos directamente al contenido*/
.textos-header h1{
    font-size: 50px;
    color: #fff;
}
/*se le esta aplicando Estilos directamente al contenido*/
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

/*about us, Sobre nosotros(Nuestros productos)*/
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

/*se esta aplicando los estilos directamente a la etiqueta (h3) que esta dentro de la clase
(.contenido-textos)*/
.contenido-textos h3{
    margin-bottom: 15px;
}

/*se esta aplicando los estilos directamente a la etiqueta (span) que esta dentro del (h3) que esta dentro de la clase
(.contenido-textos) (es como identar una clase o usar el (./)para moverse a una carpeta)*/
.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 34px;
    height: 36px;
    padding: 4px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/*Galeria de Imagenes(Portafolios)*/

.portafolio{
    background: #f2f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;  
    overflow: hidden;
    position: relative;  
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    height: 150px;
}

.imagen-port >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
/*Aqui se agrega los estilo a la letra a las imagenes que sale en el centro */
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0); 
    background: hsla(273,91%,27%,0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}
/*Color directamente a las letras*/
.hover-galeria p{
    color: #fff;
}
/*transción a la hora de pasar el puntero*/
.imagen-port:hover .hover-galeria{
      transform: scale(1); 
}

/* Que dicen nuestros clientes */
.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 36%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
    margin-left: 4%;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*  Our team (Nuestro equipo) */

.about-services{
    background: #f2f2f2;
    padding-bottom: 40px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
    margin-top: -3%;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
